// COLORS
$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: #888;
$color-grey-dark-2: #333;
$color-grey-dark-3: #222;

$color-blur: #85a0af69;

$color-primary--light-2: #f0f6fa;
$color-primary--light-1: #dae2e8;
$color-primary: #a1bfcd;
$color-primary--dark-0: #93b1c2;
$color-primary--dark-1: #85a0af;
$color-primary--dark-2: #394248;

$color-product-bg: #f5f5f5;

// FONTS

$ff-heading: 'p22-mackinac-pro';
$ff-text: 'proxima-nova';

// CAROUSEL
$carousel-pics: 12;

// PADDINGS
$section-v-padding-xs: 4rem;
$section-v-padding-s: 8rem;
$section-v-padding-m: 12.8rem;
$section-v-padding-l: 30rem;
