.container {
  max-width: 120rem;
  margin: 0 auto;
}

.text--light {
  color: $color-white;
}
.text--dark {
  color: $color-primary--dark-2;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
